html, body {
	padding: 0;
	margin: 0;
}

.wrapper {
	background: #FF99FE;
}

.site-wrapper {
	text-align: center;
}

.site__list {
	list-style: none;
}

.site__item {
	margin: 0 0 15px;
}

.site__item:last-child {
	margin: 0;
}

.site__item:hover {
	border-radius: 10px;
	background: #FD00BE;
	transition: .5s;
}

.site__link {
	color: #6D586D;
	text-decoration: none;
	padding: 20px;
 	font: 700 14px sans-serif;
 	text-align: center;
}

.message__block {
    position: fixed;
    top: 0; right: 50px;
    width: 300px;
    border: 1px solid;
    z-index: 9999;
    padding: 10px 20px;
    opacity: 0.8;
    background: #33CCCC;
    text-align: center;
}

.message__button {
    padding: 5px 10px;
 	font: 700 14px sans-serif;
}

