html, body {
	padding: 0;
	margin: 0;
}

.wrapper {
	background: #FF99FE;
	margin: 0 auto;
}

.site-wrapper {
	text-align: center;
}

.site__list {
	list-style: none;
}

.site__item {
	margin: 0 0 15px;
}

.site__item:last-child {
	margin: 0;
}

.site__item:hover {
	border-radius: 10px;
	background: #FD00BE;
}

.site__link {
	cursor: pointer;
	color: #6D586D;
	text-decoration: none;
	
}